<md-content class='md-padding' layout="row" layout-wrap layout-align="center">

    <md-card ng-repeat="(site, info) in carpoolSites" style="width: 300px">
      <md-card-header>
        <md-card-header-text>
          <md-title>{{ info.name }}</md-title>
        </md-card-header-text>
      </md-card-header>
      <md-card-title>
        <div>
          <md-card-title-text>
            <md-headline>##</md-headline>
            <md-subhead>Crew</md-subhead>
          </md-card-title-text>
        </div>
        <div flex="50">
          <md-card-title-text>
            <md-headline>##</md-headline>
            <md-subhead>Volunteer Capacity</md-subhead>
          </md-card-title-text>
        </div>
      </md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item class="md-2-line carpool-card-crew-list-item" ng-repeat="personId in info.assignedCrew" layout="row" layout-align="center center">
            <md-icon class="md-18" style="margin-right: 10px">{{(crew[personId].hasPermanentAssignment == 1) ? "lock" : "clear"}}</md-icon>
            <div class="md-list-item-text">
              <h3>{{ crew[personId].firstName }} {{ crew[personId].lastName }}</h3>
              <h4>{{ projectSites[crew[personId].assignedToSite_id].name }}</h4>
            </div>
            <div flex></div>
            <div  flex class="md-list-item-text" layout="column" layout-align="center center">
              <span>{{ crew[personId].numSeatbelts }}</span>
              <h4>Belts</h4>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>

    </md-card>


</md-content>
