<md-content class='md-padding bodyContent' layout="row" layout-wrap layout-align="center">

    <md-card ng-repeat="siteId in activeSites" style="width: 300px" layout="column">
      <md-toolbar class="md-primary">
        <md-card-header>
          <md-card-header-text>
            <md-title class="md-title">{{ projectSites[siteId].name }}</md-title>
          </md-card-header-text>
        </md-card-header>
      </md-toolbar>
      <md-card-title style="padding-top:0; padding-bottom:0; padding-left:0; padding-right: 0" flex="20">
        <div layout="column" style="width: 100%">
          <sitc-seatbelt-progress num-seatbelts='projectSites[siteId].numVolunteers' num-crew='projectSites[siteId].assignedCrew.length' min-teers='projectSites[siteId].minTeers' optimal-teers='projectSites[siteId].optimalTeers' max-teers='projectSites[siteId].maxTeers'></sitc-seatbelt-progress>
        </div>
      </md-card-title>
      <md-card-content>
        <div style="padding-top:90px"></div>
        <md-list class="project-panel-list">
          <md-list-item class="md-2-line project-card-crew-list-item" ng-repeat="personId in projectSites[siteId].assignedCrew" layout="row" layout-align="center center">
            <md-button class="md-icon-button" ng-click="removeCrew(personId, crew[personId].firstName, siteId)" style="margin: auto !important">
              <md-icon class="md-18" style="margin-right: 12px; margin: auto !important">{{(crew[personId].hasPermanentAssignment == 1) ? "lock" : "clear"}}</md-icon>
            </md-button>
            <div class="md-list-item-text">
              <h3>{{ crew[personId].firstName }} {{ crew[personId].lastName }}</h3>
              <h4>{{ carpoolSites[crew[personId].carpoolSite_id].name }}</h4>
            </div>
            <div class="md-list-item-text" layout="row" layout-align="end start" ng-show="crew[personId].numSeatbelts > 0">
              <md-icon class="md-18" style="margin-right: 5px;">drive_eta</md-icon>
              <h4>{{ crew[personId].numSeatbelts }}</h4>
            </div>
          </md-list-item>
        </md-list>

        <div ng-show="projectSites[siteId].assignedVans.length > 0">
          <md-divider></md-divider>
          <md-subheader class="project-panel-subheader">Vans</md-subheader>
        </div>

        <md-list class="project-panel-list">
          <md-list-item class="md-2-line project-card-teerCar-list-item" ng-repeat="vanId in projectSites[siteId].assignedVans" layout="row" layout-align="center center">
            <md-button class="md-icon-button" ng-click="removeVan(vanId, siteId)" style="margin: auto !important">
              <md-icon style="margin-right: 12px; margin: auto !important">close</md-icon>
            </md-button>
            <div class="md-list-item-text">
              <h3>{{ vans[vanId].name }}</h3>
            </div>
            <div class="md-list-item-text" layout="row">
              <h3>{{ vans[vanId].numSeatbelts }}</h3>
            </div>
          </md-list-item>
        </md-list>

        <div ng-show="projectSites[siteId].assignedTeerCars.length > 0">
          <md-divider ng-hide="projectSites[siteId].assignedCrew.length <= 0 && projectSites[siteId].assignedVans.length <= 0"></md-divider>
          <md-subheader class="project-panel-subheader">Volunteer Cars</md-subheader>
        </div>

        <md-list class="carpool-panel-list">
          <md-list-item class="md-2-line carpool-card-teerCar-list-item" ng-repeat="teerCarId in projectSites[siteId].assignedTeerCars" layout="row" layout-align="center center">
            <md-button class="md-icon-button" ng-click="removeTeerCar(teerCarId, siteId)" style="margin: auto !important">
              <md-icon style="margin-right: 12px; margin: auto !important">close</md-icon>
            </md-button>
            <div class="md-list-item-text">
              <h3>{{ carpoolSites[teerCars[teerCarId].carpoolSite_id].name }}</h3>
            </div>
            <div class="md-list-item-text">
              <h3>{{ teerCars[teerCarId].assignedNumPassengers }}</h3>
            </div>
          </md-list-item>
        </md-list>

      </md-card-content>
      <div flex></div>
      <md-card-actions layout="row" layout-align="end end">
        <div id="speedDialContainer" layout="row" layout-align="end" style="position:relative; width:100%; height:50px;">
          <md-fab-speed-dial flex class="md-fling md-secondary md-fab-bottom-right" md-direction="up" md-open="speedDialIsOpen" style="height:50px; width:50; padding-top: 12px" ng-mouseenter="speedDialIsOpen=true" ng-mouseleave="speedDialIsOpen=false" ng-cloak>
             <md-fab-trigger flex><!--ng-click="toggleOpen()"-->
               <md-button aria-label="menu" class="md-fab md-mini md-primary" style="z-index:100 !important" ng-click="(speedDialIsOpen) ? addCrew(siteId):''">
                  <md-icon class="material-icons" ng-show="!speedDialIsOpen">add</md-icon>
                  <md-tooltip md-direction="right" >Add Crew</md-tooltip>
                  <md-icon ng-show="speedDialIsOpen">person</md-icon>
               </md-button>
             </md-fab-trigger>
             <md-fab-actions>
               <div>
                 <md-button class="md-fab md-raised md-mini md-primary md-hue-1 speedDialButton" aria-label="Add Van" ng-click="addVan(siteId)">
                   <md-tooltip md-direction="right">Add Van</md-tooltip>
                   <md-icon>drive_eta</md-icon>
                 </md-button>
               </div>
               <div>
                 <md-button class="md-fab md-raised md-mini md-primary md-hue-1 speedDialButton" aria-label="Add Volunteer Car" ng-click="addTeerCar(siteId)">
                   <md-tooltip md-direction="right">Add Volunteer Car</md-tooltip>
                   <md-icon>directions_car</md-icon>
                 </md-button>
               </div>
               <div>
                 <md-button class="md-fab md-raised md-mini md-primary md-hue-1 speedDialButton" aria-label="Add Group">
                   <md-tooltip md-direction="right">Add Group</md-tooltip>
                   <md-icon>people</md-icon>
                 </md-button>
               </div>
             </md-fab-actions>
          </md-fab-speed-dial>
        </div>
      </md-card-actions>
    </md-card>


</md-content>
