<!--Material Icons Font-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<md-content flex="65">

  <md-button class="md-primary" ng-click="addNew()">Add New Site</md-button>

<md-table-container>
  <table md-table>
    <thead md-head>
      <tr md-row>
        <th md-column align-rule="left">Select All</th>
        <th md-column align-rule="left">Name</th>
        <th md-column align-rule="left">Project</th>
        <th md-column align-rule="left">Address</th>
        <th md-column align-rule="left">Partner Contact</th>
      </tr>
    </thead>

    <tbody md-body>
      <tr md-row ng-repeat="(siteId, siteInfo) in projectSites">
        <td md-cell html-content="true">
          <md-checkbox md-no-ink ng-model="projectSites[siteId].isActive" ng-true-value=1 ng-false-value=0 ng-change="toggleActive(siteId)" aria-label="Site Active Toggle">
          </md-checkbox>
        </td>
        <td md-cell>{{ siteInfo.name }}</td>
        <td md-cell html-content="true">
          <md-icon class="sitc-icon-">{{ siteInfo.project }}</md-icon>
        </td>
        <td md-cell>{{ siteInfo.address }}</td>
        <td md-cell>{{ siteInfo.partnerContactName }}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

</md-content>
