<md-dialog flex-gt-sm="70" flex-sm="85" flex-xs="95">
  <md-dialog-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Crew to {{ projectSites[myProjectSite].name }}</h2>
      </div>
    </md-toolbar>

    <div id="carpoolPanelModalContent">

      <md-subheader>Not assigned to project site</md-subheader>
      <md-list class="project-panel-list">
        <md-list-item class="md-2-line project-card-crew-list-item" ng-repeat="vanId in noSiteAssignment" layout="row" ng-click="returnSelectedVan(vanId)">
          <div class="md-list-item-text">
            <h3>{{ vans[vanId].name }}</h3>
            <h4>{{ carpoolSites[vans[vanId].carpoolSite].name }}</h4>
          </div>
          <div class="md-list-item-text" layout="row" ng-hide="vans[vanId].numSeatbelts <= 0">
            <md-icon style="margin-right:5px; margin-left: 0">drive_eta</md-icon>
            <h3>{{ vans[vanId].numSeatbelts }}</h3>
          </div>
          <span flex></span>
        </md-list-item>
      </md-list>

      <md-divider></md-divider>
      <md-subheader>Already assigned to project site</md-subheader>

      <md-list class="" style="padding-left: 15px">
        <md-list-item class="md-3-line project-card-crew-list-item" ng-repeat="vanId in hasSiteAssignment" layout="row" ng-click="returnSelectedVan(vanId)">
          <div class="md-list-item-text">
            <h3>{{ vans[vanId].name }}</h3>
            <h4>{{ carpoolSites[vans[vanId].carpoolSite].name }}</h4>
            <h4>Assigned to <span style="font-weight:bold">{{ projectSites[vans[vanId].assignedToSite].name }}</span></h4>
          </div>
          <div class="md-list-item-text" layout="row" ng-hide="vans[vanId].numSeatbelts <= 0">
            <md-icon style="margin-right:5px; margin-left: 0">drive_eta</md-icon>
            <h3>{{ vans[vanId].numSeatbelts }}</h3>
          </div>
          <span flex></span>
        </md-list-item>
      </md-list>

      <md-divider></md-divider>
      <md-subheader>Not on logistics</md-subheader>

      <md-list class="project-panel-list">
        <md-list-item class="md-2-line project-card-crew-list-item" ng-repeat="vanId in notOnLogistics" layout="row" ng-click="returnSelectedVan(vanId)">
          <div class="md-list-item-text">
            <h3>{{ vans[vanId].name }}</h3>
            <h4>{{ carpoolSites[vans[vanId].carpoolSite].name }}</h4>
          </div>
          <div class="md-list-item-text" layout="row" ng-hide="vans[vanId].numSeatbelts <= 0">
            <md-icon style="margin-right:5px; margin-left:0">drive_eta</md-icon>
            <h3>{{ vans[vanId].numSeatbelts }}</h3>
          </div>
          <span flex></span>
        </md-list-item>
      </md-list>


    </div> <!-- end #CarpoolPanelModalContent -->
  </md-dialog-content>
</md-dialog>
