@import 'carpoolPanel';

sitc-seatbelt-progress {
  position: relative;
  display: block;
}

.project-card-counter-text {
  @extend .carpool-card-counter-text;
}

.project-panel-list {
  @extend .carpool-panel-list;
  padding-left: 15px;
  padding-top: 10px;

}

.project-card-crew-list-item {
  @extend .carpool-card-crew-list-item;
}

.project-card-teerCar-list-item {
  @extend .carpool-card-teerCar-list-item;
}

.md-subheader {
  background-color: transparent;
}
