<md-toolbar md-scroll-shrink style="z-index:0">
  <div class="md-toolbar-tools">
    <span class="md-title logistics-toolbar-item" ng-class="{'cursor-pointer': breadcrumbShows.assignCrew}" ng-show="breadcrumbShows.selectSites" ng-click="backToInit()">Select Sites</span>
    <span class="logistics-toolbar-item" ng-show="breadcrumbShows.assignCrew">&gt;</span>
    <span class="md-title logistics-toolbar-item" ng-show="breadcrumbShows.assignCrew">Assign Crew</span>
    <span flex></span>
    <md-button ng-click="endInit()" ng-hide="breadcrumbShows.assignCrew">
      Next
    </md-button>
    <md-button ng-click="backToInit()" ng-show="breadcrumbShows.assignCrew">
      Back
    </md-button>
  </div>
</md-toolbar>
<md-content>


  <md-tabs md-center-tabs md-selected="selectedTab" style="margin-top: 15px" ng-hide="hideTabs">
    <md-tab label="Carpool Sites" ng-click="gotoTab('carpoolPanel')"></md-tab>
    <md-tab label="Project Sites" ng-click="gotoTab('projectPanel')"></md-tab>
  </md-tabs>

  <div class="ui-view-container">
    <div ui-view class="slide" ng-class="{'left-to-right': transitionClass == 'left-to-right', 'right-to-left': transitionClass == 'right-to-left'}" layout="row" layout-align="center center"></div>
  </div>

</md-content>
